extends  layout 
block historial
              
    table(style="width:70%", border="1")
        tr
            th ID
            th Nombre
            th Precio
            th Imagen
        tr 
            each prod in lista
                tr
                    td(style="text-align:center") #{prod.id}
                    td(style="text-align:center") #{prod.nombre}
                    td(style="text-align:center") #{prod.precio}
                    td(style="text-align:center") 
                        img(style= "width:100px;  height: 100px",src= prod.imagen) 
                tr 

    a(class="button", href="/") Agregar mas productos