
<h2>Chat</h2>

<div>
    <div id="message" class="chatBox"></div>

    <form onsubmit="return addMessafe(this)">
        <div>
            <input type="text" id="author" placeholder="Nombre">
            <input type="text" id="text" placeholder="Mensaje">

            <button type="submit">Enviar</button>
        </div>
    </form>

    <div id="message"></div>

</div>

<script src="../public/js/chat.js"></script>