
<h2>Chat</h2>

<div>
    
    <div id="message"></div>


    <form onsubmit=" return addMessage(this)">
        <div>
            <input type="text" id="author" placeholder="Nombre">
            <input type="text" id="text" placeholder="Mensaje">

            <button type="submit">Enviar</button>
        </div>
    </form>


</div>

<script src="./js/chat.js"></script>