<h2 style="color:crimson;">Historial</h2>

<% if(prods.length > 0){ %>
    <div class="table-responsive">
        <table id="prods" class="table table-dark">
            <tbody id="prods">
            <tr style="color: yellow;"><th>ID</th> <th>Nombre</th> <th>Precio</th> <th>Imagen</th> </tr>
            
           </tbody>
        </table>
    </div>
<% } else if(prods.length == 0) { %>
    <h3 class="alert alert-danger">No se encontraron datos</h1>
<% } %>

<script src="./js/form.js"></script>